body{
    color: #0f1720;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #2f4054;
    height: 100vh;
}

.card-header{
    font-weight: bold;
}

.light-blue-background {
    background-color: #b4c5d6;
}
.silver-background {
    background-color: #dfe2e6;
}

.button-color {
    background-color: #0f1720;
    color: #ffffff;
}